@media (min-width: 0px) and (max-width: 480px) {


.rgtnotification__ .tonyImg{
  display: none;
}

.counter__{
  height: auto;
}

.header{
  background: none;
}

.tophead__inr_ ul li{
  margin-left: 0px;
  margin-bottom: 10px;
}

.tophead__inr_ ul li a{
  font-size: 13px;
}

.about__inr_ h4{
  font-size: 16px;
}

.logo{
  text-align: left;
}

.navigate .navbar-default .navbar-toggle{
  border-color: #cf4911;
  border-radius: 0;
  margin-top: -50px;
}

.navigate .navbar-default .navbar-toggle .icon-bar{
  background-color: #cf4911;
}

.navigate .navbar-nav > li{
  display: block;
  border-bottom: 1px solid #ececec;
}

.navigate .navbar-default .navbar-nav > li.active a, .navigate .navbar-default .navbar-nav > li > a:hover{
  border-radius: 0px;
}

.navigate .navbar-default .navbar-toggle:hover, .navigate .navbar-default .navbar-toggle:focus{
  background-color: transparent;
}

.navigate .navbar-default .navbar-nav .open .dropdown-menu > li > a{
  text-align: center;
}

.navigate .navbar-nav{
  text-align: center;
}

.navigate .navbar-default .navbar-nav > li > a{
  padding: 6px 20px;
}

.navigate li.dropdown:hover > .dropdown-menu{
  display: block;
  margin: auto auto auto 5%;
  width: 90%;
}

.navigate li.dropdown:hover > .dropdown-menu li{
  border-bottom: 1px solid #ececec;
}

.nav_strip{
  margin-top: 20px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.midhd__lft{
  margin-top: 0px;
  text-align: center;
  padding-bottom: 25px;
}

.midhd__lft h1{
  text-align: center;
  font-size: 30px;
  margin: auto;
}

.midhd__lft h1 span{
  font-size: 50px;
}

.midhd__lft p{
  text-align: center;
}

.rs__back{
  background: rgba(0, 0, 0, 0) url("../images/img.png") no-repeat scroll 0 0 / cover ;
}

.midhd__rgt_{
  display: block;
  left: 0;
  margin: auto;
  padding-bottom: 22px;
  padding-top: 60px;
  top: 0;
  width: 200px;
}

.midhd__rgt_ .txtfrmt{
  height: 20px;
  margin-bottom: 10px;
}

.midhd__rgt_ textarea{
  height: 40px !important;
}

.midhd__{
  padding-bottom: 0px;
}

.social__ ul{
  text-align: center;
}

.about__inr_{
  text-align: center;
  width: 100%;
  margin-top: 10px;
}

.about__ img{
  margin: auto;
  display: block;
  margin-top: 20px;
}

.services__inr_ .lft_per{
  display: none;
}

.services__right{
  margin-top: 0px;
  text-align: center;
}

.services__{
  margin-top: 50px;
}

.services__rgt_1 img{
  margin-bottom: 15px;
}

.services__rgt_1 {
  border-bottom: 2px dashed #d3d3d3;
  margin-bottom: 5px;
  padding-bottom: 5px;
  height: auto;
}

.test__inr_ .carousel-inner .item .carousel-content p{
  font-size: 14px;
  line-height: 22px;
}


.test__inr_ .carousel .carousel-control.left{
  left: 5%;
}

.test__inr_ .carousel .carousel-control.right{
  right: 15%;
}

.test__inr_ .carousel-inner .item .carousel-content p .lft_q{
  display: block;
  left: 0;
  margin: 12px auto 10px;
  position: relative;
  top: 0;
}

.port__lft h5{
  left: 0;
  top: 0;
  width: 100%;
  transform: none;
  text-align: center;
}

.port__lft h5 br{
  display: none;
}

.port__lft h5 span{
  display: none;
}

.port__{
  margin-top: -180px;
}

.port__lft .carousel .carousel-inner{
  margin-left: 65px;
}

.choose__inr_ img{
  display: none;
}


.choose__rgt_ h5{
  left: 0;
  top: 0;
  width: 100%;
  transform: none;
  text-align: center;
}

.choose__rgt_ h5 br{
  display: none;
}

.choose__rgt_ h5 span{
  display: none;
}

.choose__{
  margin-top: 20px;
}

.choose__rgt_ h6{
  text-align: center;
}

.choose__rgt_ p{
  text-align: center;
  border-bottom: 2px dashed #d3d3d3;
  padding-bottom: 20px;
}

.counter__inr_ ul li{
  display: block;
  width: auto;
  margin-bottom: 20px;
}

.counter__inr_{
  padding-top: 0px;
}

.counter__{
  background: none;
}

.counter__inr_{
  padding-bottom: 0px;
}


.client__inr_ h5{
  text-align: center;
  margin: auto;

}

.client__inr_ h5 span{
  display: none;
}

.client__inr_ h5 br{
  display: none;
}

.client__inr_ .prev{
  left: 0;
}

.client__inr_ .next{
  display: block !important;
  right: 0;
}

.client__inr_ .slider .slick-list .slick-track{
  padding-top: 0px;
  padding-bottom: 0px;
}

.subs__inr_ h6{
  text-align: center;
  margin: auto auto 10px;
}

.subs__inr_ {
  padding-bottom: 50px;
  padding-top: 50px;
}

.footer p{
  text-align: center;
  margin-bottom: 10px;
}

.footer ul{
  text-align: center;
}

.footer ul li {
  display: block;
  margin-bottom: 5px;
  margin-left: 0;
}

.hm_right{
  display: none;
}

.main_border{
  margin: auto;
}

.count_ir{
  width: 100%;
  border-right: 0px;
}

.client__{
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #eee;
}

.rotate-text > span{
  width: 100%;
  text-align: center;
}

.bnrtop__inr{
  height: auto;
  padding: 0px;
}

.bnrtop__inr h6 {
  color: #fff;
  font-family: latobold;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  top: 30px;
}

.bnrtop__inr h6 br{
  display: none;
}

.bnrtop__inr .brd__{
  position: relative;
  top: 35px;
}

.bnrtop__{
  height: auto;
}

.abt__lft p{
  margin-top: 0px !important;
  text-align: justify;
}

.abt__workingrgt p{
  text-align: justify;
  width: 90%;
}

.abt_desi_inr h6, .abt_desi_inr p{
  text-align: center;
}

.bnrtop__ img{
  height: 83px;
}

.cbtop__ .crp_img{
  margin-top: 0px;
}

.cb_graph__rgt{
  margin-top: 50px;
}

.cb_graph__rgt h6{
  font-size: 22px;
}

.cb_graph__rgt span.brd__16{
  margin: 5px 0 50px;
}

.cb_graph__{
  padding: 20px 5px;
}

.cb_serviceinrlft{
  border-bottom: 2px dashed #d3d3d3;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

.cb_serviceinrlft p{
  width: 100%;
}

.let__ h5{
  font-size: 25px;
}

.let__ p{
  width: 100%;
  margin: 15px auto;
}

.cbtop__lft p{
  width: 100%;
}

.mbimg__{
  margin-top: 0px;
  width: 100%;
}

.mb__ext{
  position: relative;
  top: 25px !important;
}

.mbthree__inr {
  border-bottom: 2px dashed #d3d3d3;
  margin-bottom: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.mbabout__rgt{
  text-align: left;
}

.mbabout__rgt h6{
  font-size: 14px;
}

.mbawsm__ p{
  width: 100%;
}






}